<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.bluespark.raffleit">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".common.injection.application.MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">

		<!-- Activity Splash -->
		<activity
			android:name=".screens.splash.SplashActivity"
			android:theme="@style/ActivitySplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Activity Sign In -->
		<activity
			android:name=".screens.signin.SignInActivity"
			android:theme="@style/ActivitySignInTheme" />

		<!-- Activity Main -->
		<activity android:name=".screens.main.MainActivity" />

		<!-- Activity Register -->
		<activity android:name=".screens.register.RegisterActivity" />
	</application>

</manifest>